<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 打印sql日志  -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--  延迟加载  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置加载行为为消极加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>

    </settings>
	<environments default="mysql">
       <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
          <dataSource type="POOLED">
              <property name="driver" value="com.mysql.jdbc.Driver"/>
              <property name="url" value="jdbc:mysql://localhost:3306/kf5"/>
              <property name="username" value="root"/>
              <property name="password" value="root"/>
          </dataSource>
       </environment>
    </environments>

    <mappers>
        <mapper resource="com/ck/mapper/FileUploadMapper.xml"></mapper>
    </mappers>
</configuration>
